{% extends "base.html" %}

{% block title %}Lectern - Upload Audio{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Audio Uploader</h2>
        </div>
        <div class="panel-body"><form enctype="multipart/form-data" method="POST" action="">
            <div class="form-group">
                {% csrf_token %}
                {{ form.as_p }}
            </div>
            <input type="submit" class="btn btn-default" value="Upload"/>
        </form>
    </div>
{% endblock %}
